@charset "UTF-8";

section#login{
    width: 900px;
    height: 300px; 

}

div#img{
    width: 30%;
    height: 100%;
    float: right;
}

div#formulario{
    width: 70%;
    height: 100%;
    float: left;
}

