@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
}

section#login{
    width: 990px;
    height: 400px; 

}

div#img{
    width: 45%;
    height: 100%;
    float: right;
}

div#formulario{
    width: 55%;
    height: 100%;
    float: left;
}

div#formulario > p{
    font-size: 1em;
    margin-bottom: 25px;
}

div.container{
    margin: 10px 0px;
}